*{
    background-color: blueviolet;
    color: white;
    text-align: center;
   
   
}
.cont{
    padding: 50px;

   align-items: center;
 
    
}
.counters{
    height: 70vh;
   padding: 100px;
    display: flex;
    justify-content: space-evenly;
}